html, body {
    background-color: #000;
    margin: 0;
    height: 100%;
}

#pageContent {
    margin-top: 56px;
    height: 100%;
}

#main-map-container {
    height: calc(100% - 56px);
    display: flex ;
    display: -webkit-flex;
    flex-direction: row ;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    padding: 0 0 0 0 ;
}

#map {
    -webkit-flex: 1;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #242426;
}

.hidden {
    display: none !important;
}

.visible {
    display: inherit !important;
}

hr{
    background-color: #252525;
}

#projectOptionsForm {
    z-index: inherit;
    margin: -15px;
    height: calc(100% + 15px);
    padding: 30px;
    background-color: rgba(0,0,0,0.9);
    
}

#sidebar{
    
    z-index: 1001;
}

#sidebar label {
    color: #ffffff;
}

/*Changing the color of the modals*/
.modal-header, .modal-body, .modal-footer {
    background-color: #111111;
}

.modal-header, .modal-footer {
    border-color: #555555;
}

label{
    color: #FFFFFF;
}

.modal-title, .close {
    color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}
#downloadtemplate{
    text-align: center;
}

#downloadtemplatebutton{
    height: 130px;
    background-color: #404040;
    border-width: 0px;
}

#downloadtemplatebutton:hover{
    background-color: #303030;
    border-width: 0px;
}

#downloadtemplatebutton:active{
    background-color: #202020;
    border-width: 0px;
}

.close:hover {
    color: crimson;
    text-shadow: none;

}

#shareProjectModalLabel, #newProjectModalLabel, #newDatasetModalLabel {
    cursor: default;
}

#projectModalDataSetSelection{
    cursor: pointer;
}

input {
    color: #777777 !important;
    background-color: #111111 !important;
    border: 0px solid #FFFFFF !important;
    border-radius: 3px !important;
}

input:focus {
    outline:none;    
}

#projectTitleField{
        height: 30px;
}

.nav-link{
    -webkit-transition: .2s;
    transition: .2s;
}

select {
    color: #777777 !important;
    background-color: #111111 !important;
    border-bottom: 0px solid #FFFFFF !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

select:focus {
    border-left: 0px solid #FFFFFF !important;
    border-right: 0px solid #FFFFFF !important;
    border-top: 0px solid #FFFFFF !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.moreoptions{
    background:url(../img/3dot.png) no-repeat;
    cursor:pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-size: contain;
    position: absolute;
    right: -3px;
    
}

.card-title{
    text-align: center;
}

.datacard-title{
    text-align: center;
    margin-bottom: 105px;
    font-size: 24px;
    font-weight: 300;
}

.card-block{
    padding: 0.25rem;
    padding-top: 0.75rem;
}

.container-fluid{
    margin-top: 30px;
}


.dropdown-toggle::after {
    display:none;
}

.standardMenuOption{
    margin-left: 8px;
    color: #555555;
}

.moreoptions{
    opacity:0.5;
}

.moreoptions:hover{
    opacity:1;
}

.moreoptions:focus{
    box-shadow: none;
}

.deleteMenuOption{
    margin-left: 8px;
    color: #D52548;
}

.standardMenuOption:hover{
    color: #444444;
    text-decoration: none;
}

.deleteMenuOption:hover{
    color: #FF1211;
    text-decoration: none;
}


.dropdown-menu{
    background: #111111;
}

.dropdown-menu li:hover{
 background-color: #DDDDDD; 
 color: white;
}

#datasetCardArea {
    padding: 0px 10px 0px 10px;
    background-color: #000000;
}

.card {
    background-color: #111111;
    color: #FFFFFF;
    border: 1px solid;
    border-color: #111111;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.card:hover {
    background-color: #333333;
    transform: scale(1.05);
    transition: all .2s ease-in;
    cursor:pointer;
}
.card-text{
    justify-content: center;
}

#createNewDatasetCard {
    text-align: center;
}

#createNewDatasetCard .card-text {
    font-size: 50px;
    align-content: center;
}

#mapCardArea {
    padding: 0px 10px 0px 10px;
    background-color: #000000;
}


#createNewMapCard {
    text-align: center;
}

#createNewMapCard .card-text {
    font-size: 50px;
    align-content: center;
}

.navbar-collapse {
    background-color: #000000;
}

/*https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/
.navbar-default {
    background-color: #000000;
    border-color: #2d2d2d;
}
.navbar-default .navbar-brand {
    color: #858585;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #858585;
}
.navbar-default .navbar-nav > li > a {
    color: #858585;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2d2d2d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2d2d2d;
}
.navbar-default .navbar-toggle {
    border-color: #2d2d2d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2d2d2d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #858585;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #858585;
}
.navbar-default .navbar-link {
    color: #858585;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #858585;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #2d2d2d;
    }
}

.circlebutton {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  margin: 1px;
  font-size: 12px;
  border-radius: 15px;
  border-color: #141414;
  border-width: medium;
  border-bottom-style:solid;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
}

.circlebutton:hover{
    transform: scale(1.3);
    transition: all .1s ease-in;
    cursor:pointer;
}

#color1{
      background-color: #00A3FF;

}

#color2{
      background-color: #A200FF;

}

#color3{
      background-color: #FF0097;

}

#color4{
      background-color: #00FFF2;

}

#color5{
      background-color: #00FF96;

}

#color6{
      background-color: #8EFF00;

}

#color7{
      background-color: #FFAE00;

}

#color8{
      background-color: #FF6100;

}

#color9{
      background-color: #FF2E00;

}

.popover{
        background: #141414;

}

.popover-title{
        background: #141414;
}

.popover-content{
        background: #141414;

}

.popover-header{
        background: #141414;
}

.popover.bs-tether-element-attached-left::after {
    border-right-color: #141414;
}
.popover.left .arrow::before {
    border-right-color: #141414;
}

/**/
.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #000;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}


#projectTitleField{
    color: aqua;
}


/*
input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    left: -3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
}
*/

@media (max-width: 768px) {
    .hidden-sm {
        background-color: #00A3FF;
        display: none;
    }
}


.leaflet-bar a{
    background-color: rgba(0,0,0,0.0);
    color: rgba(255,255,255,0.66);
    text-shadow: 0px 0px 5px #111111;
    border-width: 0px;
}

.leaflet-bar a:hover{
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 0px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}

.leaflet-bar a:hover {
	border-bottom: 0px solid #ccc;
	}


.fixed-top{
    background-color: black;
}

#logoutUserBtn{
    background-color: transparent;
    border-width: 0px;
    color: gray;
}

#logoutUserBtn:hover{
    background-color: transparent;
    color: white;
}

#logoutUserBtn:active{
    background-color: transparent;
    border-width: 0px;
    color: white;
}


.leaflet-control-attribution a{
    color:lightgrey;
}

.leaflet-container .leaflet-control-attribution{
    background-color: rgba(0,0,0,0.2);
}

.leaflet-control-attribution, .leaflet-control-scale-line{
    color: white;
}

#downloadMapAsPNG{
    
}


#downloadMapAsPNG{
    background-color: transparent;
    border-color: #6C00FF;
    border-width: 1px;
    color: rgba(255,255,255,0.66)
}

#downloadMapAsPNG:hover{
    background-color: #5D00DC;
    border-color: #5D00DC;
    border-width: 1px;
    color: white;
}

#downloadMapAsPNG:active{
    background-color: #4500A3;
    border-color: #4500A3;
    border-width: 1px;
    color: white;
}

#downloadMapAsJPG{
    background-color: transparent;
    border-color: #00ABFF;
    border-width: 1px;
    color: rgba(255,255,255,0.66)
}

#downloadMapAsJPG:hover{
    background-color: #0092DA;
    border-color: #0092DA;
    border-width: 1px;
    color: white;
}

#downloadMapAsJPG:active{
    background-color: #0077B1;
    border-color: #0077B1;
    border-width: 1px;
    color: white;
}

dataset-card{
    
}

